amqp==2.3.2
apt-xapian-index==0.47
apturl==0.5.2
asn1crypto==0.24.0
billiard==3.5.0.4
blinker==1.4
braintree==3.47.0
breezy==3.0b1
Brlapi==0.6.7
celery==4.2.1
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
command-not-found==0.3
configobj==5.0.6
cryptography==2.1.3
cupshelpers==1.0
defer==1.0.6
distro==1.3.0
distro-info===0.21ubuntu2
Django==1.11.20
django-annoying==0.10.4
django-autocomplete-light==3.2.9
django-cors-headers==2.4.0
django-extensions==2.1.0
django-filter==1.0.4
django-fsm==2.6.0
django-jsonfield==1.0.1
django-livefield==3.0.0
django-model-utils==3.1.2
django-rest-hooks==1.5.0
django-silver==0.7.3
djangorestframework==3.6.3
djangorestframework-bulk==0.2.1
djangorestframework-jwt==1.11.0
dulwich==0.19.11
entrypoints==0.3
enum34==1.1.6
fastimport==0.9.8
furl==1.2
gpg==1.12.0
html5lib==1.0.1
httplib2==0.11.3
idna==2.7
ipaddress==1.0.22
keyring==17.1.1
keyrings.alt==3.1.1
kombu==4.2.1
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
louis==3.8.0
Mako==1.0.7
MarkupSafe==1.1.0
netifaces==0.10.4
oauthlib==2.1.0
orderedmultidict==1.0
Pillow==5.2.0
pycairo==1.16.2
pycountry==18.5.26
pycparser==2.18
pycrypto==2.6.1
pycups==1.9.73
PyGithub==1.40
PyGObject==3.30.4
PyJWT==1.6.4
PyPDF2==1.26.0
python-apt==1.8.3
python-dateutil==2.7.3
python-debian==0.1.34
python-gitlab==1.6.0
pytz==2018.5
pyvat==1.3.1
pyxdg==0.25
PyYAML==3.13
redis==2.10.6
reportlab==3.5.2
requests==2.19.1
requests-unixsocket==0.1.5
SecretStorage==2.3.1
simplejson==3.16.0
six==1.11.0
sqlparse==0.2.2
sshuttle==0.78.5
systemd-python==234
typing==3.6.4
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.23
usb-creator==0.3.3
vboxapi==1.0
vine==1.1.4
wadllib==1.3.3
webencodings==0.5.1
xhtml2pdf==0.2.2
xkit==0.0.0
